<template>
  <div>
    <div v-show="products.length === 0">
      <div class="text-center error_autorize" colspan="5"><h4 class="p-md">CHECKOUT is empty</h4></div>
    </div>
    <div class="panel-group" id="accordion" v-show="products.length != 0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion">Cart summary</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <shoppingCart-component></shoppingCart-component>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion">Address and payment information</a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <form action="#" id="form" class="ng-pristine ng-valid bv-form" novalidate="novalidate">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="register_part">
                    <div class="section_title">
                      <h6>Enter your shipping information!</h6>
                    </div>
                    <div class="login_body register_with_check">
                      <ul>
                        <li class="form-group has-feedback">
                          <label for="adr">Address <i class="fa fa-star"></i></label>
                          <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-validate=""
                                 data-vv-rules="required|min:2" v-model="card_address.address" id="address" type="text"
                                 name="address">
                          <p class="text-danger" v-if="errors.has('address')" v-html="errors.first('address')"></p>
                        </li>
                        <li class="form-group has-feedback">
                          <label for="city">City <i class="fa fa-star"></i></label>
                          <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="city" type="text"
                                 v-validate="" data-vv-rules="required|min:2" v-model="card_address.city" name="city">
                          <p class="text-danger" v-if="errors.has('city')" v-html="errors.first('city')"></p>
                        </li>
                        <li class="form-group has-feedback">
                          <label for="state">State <i class="fa fa-star"></i></label>
                          <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="state" type="text"
                                 v-validate="" data-vv-rules="required|min:2" name="state" v-model="card_address.state">
                          <p class="text-danger" v-if="errors.has('state')" v-html="errors.first('state')"></p>
                        </li>
                        <li class="form-group has-feedback">
                          <label for="country">Country <i class="fa fa-star"></i></label>
                          <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="country"
                                 type="text" v-validate="" data-vv-rules="required|min:2" name="country"
                                 v-model="card_address.country">
                          <p class="text-danger" v-if="errors.has('country')" v-html="errors.first('country')"></p>
                        </li>
                        <li class="form-group has-feedback">
                          <label for="zip">Zip <i class="fa fa-star"></i></label>
                          <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="zip" type="text"
                                 v-validate="" data-vv-rules="required|min:2" v-model="card_address.zip" name="zip">
                          <p class="text-danger" v-if="errors.has('zip')" v-html="errors.first('zip')"></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row_relative">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="register_part">
                    <div class="section_title">
                      <h6>Enter your payment card info!</h6>
                    </div>
                    <div class="login_body register_with_check">
                      <ul>
                        <li class="form-group has-feedback">
                          <label for="cardnumber">Card number <i class="fa fa-star"></i></label>
                          <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-validate=""
                                 data-vv-rules="required|min:16" v-model="card.card_number" id="cardnumber" type="text"
                                 name="ccNumber" data-stripe="number">
                          <p class="text-danger" v-if="errors.has('ccNumber')"
                             v-html="'The Card number field is required'"></p>
                        </li>
                        <li class="form-group has-feedback">
                          <label for="nameoncard">Name on card <i class="fa fa-star"></i></label>
                          <input class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="nameoncard"
                                 v-validate="" data-vv-rules="required|min:2" type="text" name="fullName">
                          <p class="text-danger" v-if="errors.has('fullName')"
                             v-html="'The name of card field is required'"></p>
                        </li>
                        <li class="form-group has-feedback">
                          <label for="month">Expire month <i class="fa fa-star"></i></label>
                          <input class="form-control payment_month ng-pristine ng-untouched ng-valid ng-not-empty"
                                 v-validate="" data-vv-rules="required|min:2" v-model="card.card_month" id="month"
                                 type="text" name="expMonth">
                          <p class="text-danger" v-if="errors.has('expMonth')"
                             v-html="'The Expire month field is required'"></p>
                        </li>
                        <li class="form-group has-feedback">
                          <label for="year">Expire year <i class="fa fa-star"></i></label>
                          <input class="form-control payment_year ng-pristine ng-untouched ng-valid ng-not-empty"
                                 v-validate="" data-vv-rules="required|min:4" v-model="card.card_year" id="year"
                                 type="text" name="expYear">
                          <p class="text-danger" v-if="errors.has('expYear')"
                             v-html="'The Expire year field is required'"></p>
                        </li>
                        <li class="form-group has-feedback">
                          <label for="CCV">CCV <i class="fa fa-star"></i></label>
                          <input class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" v-validate=""
                                 data-vv-rules="required|min:3" v-model="card.card_code" id="CCV" type="text" value=""
                                 name="cvvNumber">
                          <p class="text-danger" v-if="errors.has('cvvNumber')"
                             v-html="'The cvv field is required'"></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="right_block">
                  <div class="text-danger text-alert" v-show="fields.clean() || errors.any()">
                    Please fill in all fields
                  </div>
                  <button type="summit"
                          class="btn btn-default btn_reverse confirm_order_btn m-t-sm has-spinner continue_btn_2"
                          :disabled="fields.clean() || errors.any()" data-toggle="collapse" href="#collapseThree"
                          data-parent="#accordion">CONTINUE
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion">Order review</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="register_part">
                  <div class="section_title">
                    <h6 class="section_title_l">Check your information and proceed to pay</h6>
                  </div>
                  <div class="row">
                    <!--   <h6 class="section_title_r ng-binding">Guest name: </h6>-->
                  </div>
                  <shoppingCart-component></shoppingCart-component>
                  <div class="clearfix">
                    <div class="subtotal-grandtotal_r">
                      <div class="padding_b ng-scope">
                        <h6>Shipping address:</h6>
                        <strong class="line-hh ng-binding">{{card.card_number}}</strong>
                      </div>
                      <div class="padding_b ng-scope">
                        <h6>Payment information:</h6>
                        <p class="line-hh">
                          Card number: <strong class="ng-binding">{{card.card_number}}</strong><br>
                          Cardholder name: <strong class="ng-binding">{{card.card_number}}</strong><br>
                          Expiration date: <strong class="ng-binding"></strong>{{card.card_month}}/
                          <strong class="ng-binding">{{card.card_year}}</strong><br>
                          CCV: <strong class="ng-binding">***</strong><br>
                        </p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 cart_checkout subtotal-grandtotal_l">
                        <div class="subtotal-grandtotal">
                          <a @click="POST()"
                             class="btn btn_buy btn-btn-default confirm_order_btn m-t-sm has-spinner yellow_button btn-default">BUY</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  import { mapState, mapActions } from 'vuex'

  import * as types from '../store/mutation-types'
  import shoppingCartComponent from './shoppingCart.vue'
  export default {
    components: {

      shoppingCartComponent,

    },
    computed: {
      ...mapState({
        card: state => state.request.user_card,
        card_address: state => state.request.address,
        all_request: state => state.request,
        products: state => state.cart.products
      }),
      total () {
        return this.products.reduce((total, p) => total + p.price1 * p.quantity1 + p.price2 * p.quantity2 + p.price3 * p.quantity3, 0)
      },
      count () {
        return this.products.length
      },
      storedProduct() {
        return this.$store.state.singleProduct

      },
    },
    methods: mapActions([
      types.INITIALIZE,
      types.ADD_TO_CART,
      types.REMOVE_FROM_CART,
      types.LOGOUT,
      types.ADD_ADDRESS,
      types.POST
    ]),

  }
</script>


<style lang="sass" scoped>

</style>
