<template>
  <div class="p-b-sm clearfix">

    <div class="template_class">
      <h4>Location info</h4>
      <div v-for="p in address">
        <div class="location_form_wrap location" :id="p.id">
          <div class="location_form">
            <p class="h5">Address <span>{{p.id}}</span>
              <a class="p-l-sm delete_address" @click="REMOVE_ADDRESS(p)">
                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
              </a>
            <div class="clearfix">
              <div class="col-md-6">
                <div class="form-group m-n">
                  <label class="control-label">Country</label>
                  <div class="p-t-xs">
                    <input type="text" placeholder="Country" class="form-control" name="Country">
                  </div>
                </div>
              </div>
              <!--<div class="col-md-6">
                <div class="form-group m-n">
                  <label class="control-label">State</label>
                  <div class="p-t-xs">
                    <input type="text" placeholder="State" class="form-control" name="State">
                  </div>
                </div>
              </div>
            </div>-->
              <!-- <div class="clearfix">
                 <div class="col-md-6">
                   <div class="form-group m-n">
                     <label class="control-label">City</label>
                     <div class="p-t-xs">
                       <input type="text" placeholder="City" class="form-control" name="City">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="form-group m-n">
                     <label class="control-label">County</label>
                     <div class="p-t-xs">
                       <input type="text" placeholder="County" class="form-control" name="County">
                     </div>
                   </div>
                 </div>
               </div>
               <div class="clearfix">
                 <div class="col-md-6">
                   <div class="form-group m-n">
                     <label class="control-label">Address</label>
                     <div class="p-t-xs">
                       <input type="text" placeholder="Address" class="form-control" name="Address">
                     </div>
                   </div>
                 </div>
               </div>-->
              <div class="col-md-6">
                <div class="form-group m-n">
                  <label class="control-label">Zip</label>
                  <div class="p-t-xs">
                    <input type="text" placeholder="Zip" class="form-control" name="Zip">
                  </div>
                </div>
              </div>
              <div class="clean"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

</template>

<script>
  import { mapState, mapActions } from 'vuex'

  import * as types from '../store/mutation-types'

  export default {
    computed: {
      ...mapState({
        address: state => state.address
      }),

      count () {
        return this.address.length
      }
    },
    methods: mapActions([
      types.ADD_TO_CART,
      types.CLEAR_CART,
      types.LOGOUT,
      types.REMOVE_FROM_CART,
      types.ADD_ADDRESS,

      types.REMOVE_ADDRESS
    ])
  }
</script>


