<template>
  <li class="col-lg-4 col-md-4 col-sm-5 col-xs-12 menu-down">
    <a class="floatright" href="#">my cart <span class="badge"> {{count}}</span></a>

    <ul class="cart_list">
      <li>Recently Added Item(s)</li>
      <li v-for="p in products">
        <div class="add_to_cart">

          <img :src="'/storage/product/'+p.cover | fallbackUrl" :alt="p.title" :id="p.id">
          <div class="cart_price">
            <div>{{ p.quantity1 }} X {{p.price1 | currency}}</div>
            <div>{{ p.quantity2 }} X {{p.price2 | currency}}</div>
            <div>{{ p.quantity3 }} X {{p.price3 | currency}}</div>
          </div>
          <p class="dress_name">{{p.title}}</p>
          <p>Subtotal = {{p.quantity1 *p.price1+ p.quantity2 *p.price2 + p.quantity3 *p.price3}}</p>
        </div>
        <i @click="REMOVE_FROM_CART(p)" class="fa fa-trash-o"></i>

      </li>
      <li>
        <span class="subtotal">Total:</span>
        <span class="ammount">{{total | currency}}</span>
      </li>
      <li>
        <a class="btn btn-primary" href="/shopping-cart">View Cart</a>
        <a class="btn" href="/checkout">Check Out</a>
      </li>
    </ul>
  </li>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  import * as types from '../store/mutation-types'

  export default {
    computed: {
      ...mapState({
        products: state => state.cart.products || []
      }),
      total () {
        return this.products.reduce((total, p) => total + p.price1 * p.quantity1 + p.price2 * p.quantity2 + p.price3 * p.quantity3, 0)
      },
      count () {
        return this.products.length
      }
    },
    methods: mapActions([
      types.INITIALIZE,
      types.ADD_TO_CART,
      types.REMOVE_FROM_CART,
      types.LOGOUT,
      types.ADD_ADDRESS
    ])
  }
</script>


<style lang="sass" scoped>

</style>
