<template>

  <li class="col-lg-8 col-md-8 col-sm-7 col-xs-12 menu-down m-r-sm search_main_li">
    <form action="" class="search-form p-r-md clearfix">
      <div class="form-group has-feedback">

        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control" name="search" id="search" v-model="s_v.v" :value='s_v.v'
               @keydown="SEARCH(s_v.v)" autocomplete="off" list="team_list"
               placeholder="search">

        <span class="fa fa-search form-control-feedback"></span>
      </div>


    </form>

    <ul class="cart_list search_cart_list" v-if="products.length !== 1">
      <li class="search_li" v-for="p in products" @click="SEARCH_GO(p)">
        <div>{{p.title}}</div>
      </li>
    </ul>

  </li>

</template>

<script>
  import { mapState, mapActions } from 'vuex'

  import * as types from '../store/mutation-types'
  import cartComponent from './cart.vue'

  export default {
    computed: {
      ...mapState({
        s_v: state => state.searchVal,
        products: state => state.search

      }),
      components: {
        cartComponent
      },
      total () {
        return this.products.reduce((total, p) => total + p.price1 * p.quantity1 + p.price2 * p.quantity2 + p.price3 * p.quantity3, 0)
      },
      count () {
        return this.products.length
      }
    },
    methods: mapActions([
      types.INITIALIZE,
      types.ADD_TO_CART,
      types.REMOVE_FROM_CART,
      types.LOGOUT,
      types.ADD_ADDRESS,
      types.SEARCH,
      types.SEARCH_GO
    ])
  }
</script>


<style lang="sass" scoped>

</style>
