<template>
  <section class="shopping-cart-area">
    <form>
      <div class="container" v-show="products.length !=0">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered">
              <tbody>
              <tr class="table-title">
                <td class="select_check">Select product</td>
                <td class="cart-del">Remove</td>
                <td class="cart-img">Image</td>
                <td class="cart-name">Product Name</td>
                <td class="cart-qty">Quantity</td>
                <td class="cart-price">Grandtotal</td>
                <td class="cart-price">Arrive Date</td>
                <td class="cart-price">Shipping method</td>
              </tr>
              <tr class="table-product-info table-start">

              </tr>
              <tr class="table-product-info" v-for="p in products" :id="p.id">
                <td class="select_check">
                  <input type="checkbox" v-model="p.check" :value="p.check">
                </td>
                <td class="prod-del">
                  <a class="trash-table" href="#">
                    <i class="fa fa-trash" @click="REMOVE_FROM_CART(p)"></i>
                  </a>
                </td>
                <td class="prod-img-center">
                  <div class="prod-table-img-c">
                    <img alt="product-name" :src="'/storage/product/'+p.cover| fallbackUrl" :alt="p.title">
                  </div>
                </td>
                <td class="prod-name"><span>{{p.title}}</span>
                </td>
                <td class="prod-price">

                <span>Adult<input class="form-control quantity_input" type="number" min="1" max="1000" required
                                  v-model="p.quantity1" @change="ADD_TO_CART(p.id)"></span>
                  <span>Child<input class="form-control quantity_input" type="number" min="0" max="1000" required
                                    v-model="p.quantity2" @change="ADD_TO_CART(p.id)"></span>
                  <span>Infant<input class="form-control quantity_input" type="number" min="0" max="1000" required
                                     v-model="p.quantity3" @change="ADD_TO_CART(p.id)"></span>
                </td>
                <td class="prod-info">
                  <p>{{ p.quantity1 }} X {{p.price1 | currency}}</p>
                  <p>{{ p.quantity2 }} X {{p.price2 | currency}}</p>
                  <p>{{ p.quantity3 }} X {{p.price3 | currency}}</p>

                </td>
                <td class="prod-tot">
                  <div>
                    <datepicker
                      :value="value"
                      :format="format"
                      :clear-button="clear"
                      :placeholder="placeholder"
                      @change="DATA_INPUT(value)"
                    >
                    </datepicker>

                  </div>
                  <!-- <datepicker date-year-title="selected title">-->
                  <!-- </datepicker>-->
                </td>
                <td class="prod-tot">
                  <div class="btn-group" data-toggle="buttons">
                    <p class="control">
                      <input type="radio" class="shipping_radio" value="Electronic Ticket" :name="'radio_group_'+p.id"
                             v-if="p.electronic_ticket != 0"
                             v-model="p.default_shipping_method" :data="p.electronic_ticket">
                      <label id="lb1" :data="p.electronic_ticket"
                             class="btn_shippingmethod  btn btn_reverse btn-primary" v-if="p.electronic_ticket != 0"
                             :value="p.default_shipping_method"> Electronic Ticket </label>

                      <input type="radio" class="shipping_radio" value="Ship to Home" :name="'radio_group_'+p.id"
                             v-if="p.ship_to_home_ticket != 0"
                             v-model="p.default_shipping_method" :data="p.ship_to_home_ticket">

                      <label id="lb2" :data="p.ship_to_home_ticket"
                             class="btn_shippingmethod btn btn_reverse btn-primary" v-if="p.ship_to_home_ticket != 0"
                             :value="p.default_shipping_method"> Ship to Home </label>

                      <input type="radio" class="shipping_radio" value="Pick Up at Ticket Center"
                             :name="'radio_group_'+p.id" v-if="p.pickup_at_center_ticket != 0"
                             v-model="p.default_shipping_method" :data="p.pickup_at_center_ticket">

                      <label id="lb3" :data="p.pickup_at_center_ticket"
                             class="btn_shippingmethod btn btn_reverse btn-primary"
                             v-if="p.pickup_at_center_ticket != 0"
                             :value="p.default_shipping_method"> Pick Up at Ticket Center</label>

                    </p>
                    <span class="text-danger text-alert"
                          v-show="p.default_shipping_method != 'Ship to Home' && p.default_shipping_method != 'Electronic Ticket' && p.default_shipping_method != 'Pick Up at Ticket Center'">
                    Please select shipping method </span>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3" class="continue_li transparent_border">
                  <a href="/" class="left_table_btn btn btn_reverse floatleft">continue shopping</a>
                </td>
                <td colspan="2" class="transparent_border">
                  <div class="shopping-cart margin-top-70">
                    <div class="col-lg-4 col-md-4 col-sm-4 cart_checkout">
                      <div class="info-checkout">
                        <div class="subtotal-grandtotal">
                          <div class="p-b-md clearfix">
                            <div class="grand-total">
                              <span class="Subtotal"> <span class="check-subtot">Subtotal</span> {{count}}</span>
                              <span class="check-grandtot GrandTotal"> <span class="check-grandtot">Grand Total</span>{{total}}</span>
                            </div>
                          </div>
                          <a href="checkout" class="btn btn-default btn_reverse checkout_continue_btn yellow_button">procced
                            to Checkout</a><br>
                          <span class="description">Checkout with multiple address!</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td colspan="3" class="transparent_border">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="right_block">

            <button type="submit" :disabled="false"
                    class="btn btn-default btn_reverse confirm_order_btn m-t-sm has-spinner continue_btn_2"
                    data-toggle="collapse" href="#collapseTwo" data-parent="#accordion">CONTINUE
              <i class="fa fa-arrow-down" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div v-show="products.length === 0">
        <div class="text-center error_autorize" colspan="5"><h4 class="p-md">Shopping cart is empty</h4></div>


      </div>
    </form>
  </section>

</template>

<script>
  import Vue from 'vue'
  import VeeValidate from 'vee-validate'

  import { mapState, mapActions } from 'vuex'

  import * as types from '../store/mutation-types'
  import datepicker from './bootstrap/Datepicker.vue'
  Vue.use(VeeValidate)
  export default {
    components: {
      datepicker
    },
    computed: {
      ...mapState({
        products: state => state.cart.products
      }),
      total () {
        return this.products.reduce((total, p) => total + p.price1 * p.quantity1 + p.price2 * p.quantity2 + p.price3 * p.quantity3, 0)
      },
      count () {
        return this.products.length
      }
    },
    data () {
      return {
        value: '2015-06-10',
        format: 'yyyy-MM-dd',
        clear: true,
        placeholder: 'placeholder is displayed when value is null or empty'
      }
    },
    methods: mapActions([
      types.INITIALIZE,
      types.ADD_TO_CART,
      types.LOGOUT,
      types.ADD_ADDRESS,
      types.REMOVE_FROM_CART,
      types.DATA_INPUT

    ]),
    VALIDATE_FORM (e) {
      this.$validator.validateAll().then(success => {
        if (!success) {
          e.preventDefault()
        }
      })
    }
  }
</script>
