<template>
  <div class="main_template">
    <div class="row">
      <div class="col-md-12">
        <div class="color_size top_border_with_pad row">
          <div class="product_color">
            <span class="col-sm-4 m-t-sm">Adult</span>
            <div class="col-sm-4">
              {{storedProduct.price1}} X {{storedProduct.quantity1}}
            </div>
            <div class="col-sm-4 marginTop">
              <label>
                <input type="number" min="1" max="100" step="1" class="form-control" v-model="storedProduct.quantity1">
              </label>

            </div>
          </div>
          <div class="product_size">
            <span class="col-sm-4 m-t-sm">Child</span>
            <div class="col-sm-4">
              {{storedProduct.price2}} X {{storedProduct.quantity2}}
            </div>
            <div class="col-sm-4 marginTop">
              <label>
                <input type="number" min="1" max="100" step="1" class="form-control" v-model="storedProduct.quantity2">
              </label>
            </div>
          </div>
          <div class="product_size">
            <span class="col-sm-4 m-t-sm">Infant</span>
            <div class="col-sm-4">
              {{storedProduct.price3}} X {{storedProduct.quantity3}}
            </div>
            <div class="col-sm-4 marginTop">
              <label>
                <input type="number" min="1" max="100" step="1" class="form-control" v-model="storedProduct.quantity3">

              </label>

            </div>
          </div>
        </div>
      </div>
      <div class="sub-total">
        <span class="check-grandtot">Total</span> {{ storedProduct.price1 * storedProduct.quantity1 +
        storedProduct.price2 * storedProduct.quantity2 + storedProduct.price3 * storedProduct.quantity3 | currency}}
      </div>
    </div>
    <div class="appCtrl.product_detail top_border_with_pad">
      <div class="row">
        <div class="col-sm-6">
          <p>Arrive Date:</p>
          <p class="error_red">
            Select correct date!
          </p>
          <!--    <datepicker date-format="MM/dd/yyyy" date-min-limit="@{{appCtrl.getArriveDate()}}" date-max-limit="@{{appCtrl.getArriveDate(appCtrl.product.EndSellDate.split(' ')[0])}}" date-year-title="selected title">
                  <input placeholder="Enter date" class="form-control"/>
              </datepicker>-->
        </div>
      </div>
    </div>
    <div>
      <p>
        <strong>Min Age: </strong>{{storedProduct.min_age}}
      </p>
      <p>
        <strong>Start Sale Date: </strong>{{storedProduct.start_sell_date}}
      </p>

      <p>
        <strong>End Sale Date: </strong>{{storedProduct.end_sell_date}}
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="quanlity_cart_fav border_with_pad fix">
          <div class="no-padding-left no-padding-right">
            <div class="subtotal-grandtotal">
              <div class="clearfix p-b-sm">

                <div class="block_buttons">
                  <a href="#" v-if="!productInCart()" @click="ADD_PRODUCT_TO_CART(storedProduct)"
                     class="btn btn-default btn_reverse confirm_order_btn m-t-sm has-spinner blue_button ">Add to cart
                    <i class="fa fa-puzzle-piece" aria-hidden="true"></i></a>
                  <a href="#" v-if="productInCart()" @click="ADD_PRODUCT_TO_CART(storedProduct)"
                     class="btn btn-default btn_reverse confirm_order_btn m-t-sm has-spinner blue_button">Save changes
                    <i class="fa fa-check" aria-hidden="true"></i></a>
                  <a href="/shopping-cart" v-if="productInCart()"
                     class="btn btn-default btn_reverse confirm_order_btn m-t-sm has-spinner blue_button">In cart <i
                    class="fa fa-check" aria-hidden="true"></i></a>
                  <a href="/checkout"
                     class="btn m-r-sm btn-default btn_reverse confirm_order_btn m-t-sm has-spinner yellow_button"><i
                    class="fa fa-shopping-cart icon-toolbar" aria-hidden="true"></i> Buy
                    Now</a>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>
<script>
  import { mapState, mapActions } from 'vuex'

  import * as types from '../store/mutation-types'

  export default {
    props: {
      product: { required: true, type: Object }
    },

    computed: {
      ...mapState({
        singleProduct: state => state.singleProduct,
        products: state => state.cart.products
      }),
      total () {
        return this.storedProduct.reduce((total, p) => total + storedProduct.price1 * storedProduct.quantity1 + storedProduct.price2 * storedProduct.quantity2 + storedProduct.price3 * storedProduct.quantity3, 0)
      },
      count () {
        return this.singleProduct.length
      },
      storedProduct() {
        return this.productInCart() || { quantity1: 0, quantity2: 0, quantity3: 0, ...this.$store.state.singleProduct }

      },
    },
    methods: {
      ...mapActions([
        types.INITIALIZE,
        types.ADD_TO_CART,
        types.ADD_PRODUCT_TO_CART,
        types.LOGOUT,
        types.ADD_ADDRESS,
        types.REMOVE_FROM_CART,
        types.SINGLE_QUANTITY,

      ]),
      productInCart () {
        return this.$store.state.cart.products.find(p => p.id === this.product.id)
      }
    },

    mounted() {
      this.$store.state.singleProduct = this.product
    }
  }
</script>