.nav_wrap nav ul:before {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clean {
  clear: both
}

.our_supports_area {
  margin-bottom: 30px;
  margin-top: 30px;
}

.products_area h2, .products_area h2 span, .products_area h3 {
  color: white !important;
}

.latest_post figure figcaption h6 {
  top: 45px;
  height: 100px;
}

.latest_post figure:hover figcaption h6 {
  background: #666666;
  color: #fff;
  top: 45px;
  height: 100px;
  width: 55px;
}

.latest_post figure:hover figcaption h6 span, .latest_post figure figcaption h6 span {
  font-size: 7pt;
}

.products_list {
  margin-top: 50px;
  overflow: hidden;
}

.products_list .section_title {
  margin-bottom: 30px;
  text-align: center;
}

.products_list .section_title > h4 {
  border: 1px solid #aaaaaa;
  color: #555555;
  display: inline-block;
  padding: 13px 18px;
  position: relative;
  text-align: center;
}

.products_list .section_title > h4::before {
  border-top: 1px solid #eeeeee;
  content: "";
  left: 114%;
  position: absolute;
  top: 50%;
  width: 500px;
}

.products_list .section_title > h4::after {
  border-top: 1px solid #eeeeee;
  content: "";
  position: absolute;
  right: 105%;
  top: 50%;
  width: 510px;
}

body#index_two .single_tab_content figure.effect-lexi figcaption::before {
  bottom: 31% !important;
}

body#index_two .single_tab_content figure.effect-lexi .add_to_cart, body#index_three .single_tab_content figure.effect-lexi .add_to_cart, body#gird_page .single_tab_content figure.effect-lexi .add_to_cart {
  bottom: 31%;
  color: #aaaaaa;
  font-size: 13px;
  font-weight: 700;
  padding: 15px 25px 14px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 42%;
}

.single_tab_content .discount::before {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  color: #aaaaaa;
  content: "30% off";
  font-size: 12px;
  font-weight: 700;
  height: 90%;
  left: 9%;
  padding-right: 25px;
  padding-top: 22%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.menu-down:hover .cart_list {
  display: block;
  max-height: 550px;
  overflow-y: auto;
}

.right_header_top > ul > li > ul {
  min-width: 280px;
}

.menu-down .search-form .form-group #search:focus .cart_list {
  display: block;
}

.right_header_top > ul > li > a > span.badge {
  border-radius: 50%;
  color: #fff !important;
  background-color: #777 !important;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 4px;
  text-align: center;

}

.product_info_block div {
  margin-top: 5px;
}

.stretch_gallery {
  overflow: hidden;
  border-style: none;
  margin: 0 auto;
  max-width: 100%;
  background: 0 0;
}

.sg_slide {
  overflow: hidden;
  margin-right: 0;
  float: left;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  cursor: pointer;
}

.sg_dummy {
  position: relative;
  height: 100%;
  width: 100%;
}

.sg_caption {
  letter-spacing: .1em;
  font-size: 18px;
  margin-top: 20rem;
}

.sg_slide:active .sg_text_block, .sg_slide:hover .sg_text_block {
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.sg_text_block {
  text-align: center;
  font-family: Stoke, serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 500px;
  height: 85px;
  background: rgba(255, 255, 255, .5);
  -webkit-transition: .5s;
  transition: .5s;
}

.sg_caption, .sg_description {
  font-weight: 400;
  padding-left: 10px;
  padding-top: 10px;
  font-family: sans-serif;
  color: #fff !important;
}

#loader-wrapper {
  display: none !important;
}

.single_tab_content figcaption:hover:before {
  background: #666 !important;
  color: #fff;
}

body#index_two .single_tab_content figure.effect-lexi figcaption:hover .add_to_cart {
  color: #fff !important;
}

.nav-wrap nav li {
  list-style-type: none;
}

.megamenu1 span a:hover {
  background-color: transparent;
  background: none;
}

.breadcrumb_main {
  padding: 15px 0 !important;
}

.sub_widget.badge_widget li {
  background: none;
  list-style-type: none;
  cursor: pointer;
}

.sub_widget.badge_widget li:hover a {
  padding-left: 37px;
}

.form-control {
  border-radius: 0;
}

.search-pages {
  padding-bottom: 0;
}

.ticketChooser {
  padding-top: 0;
  right: 0px;
}

.sub_widget.badge_widget .active_category {
  padding-left: 37px;
  background: linear-gradient(45deg, #002c82, #e32b75);
}

.megamenu {
  padding: 0px;
}

.megamenu1 span {
  height: 250px;
  padding-top: 20px;
  padding-right: 20px;
  margin-right: 0;
  width: 20%;
}

.megamenu1 span a p {
  line-height: 200%;
}

/*
.megamenu1 span:hover{
background: linear-gradient(45deg, #002c82, #e32b75);
}
.megamenu1 span:hover a{
 background: none;
 color: #fff;
}*/
.active_category a {
  color: #ffffff !important;
}

img {
  border-radius: 5px;
}

.pagination li a[rel="prev"], .pagination li a[rel="next"], .pagination li a:hover, .pagination li.active span, .pagination li.active span:hover {
  background: #666666;
  color: #fff;
  border-color: #666666;
}

.pagination li a[rel="prev"]:hover, .pagination li a[rel="next"]:hover, .pagination li a {
  color: #666666;
  background: #fff;
  cursor: pointer;
}

.products_content {
  overflow: hidden;
  margin-bottom: 80px;
}

.products_in_category {
  margin-top: 10px;
}

.megamenu1 span a {
  background: none;
}

.slider_image_5 {
  background: url('../../images/5a.jpg')
}

.slider_image_4 {
  background: url('../../images/4a.jpg')
}

.slider_image_3 {
  background: url('../../images/3a.jpg')
}

.slider_image_2 {
  background: url('../../images/2a.jpg')
}

.slider_image_1 {
  background: url('../../images/1a.jpg')
}

.btn_shippingmethod {
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.shopping-cart .cart_checkout {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  border-color: transparent;

}

.info-checkout {
  width: 100%;
  text-align: left;
}

.right_block {
  float: right;
}

.shopping-cart-area {
  margin-bottom: 0
}

.btn {
  transition: all 0.5s ease;
}

.welcome {
  margin-bottom: 0;
}

#accordion .panel-body {
  font-size: 13px;
}

body {
  font: 14px/1 "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.form-horizontal .form-group {
  margin: 0;
  margin-top: 10px;
}

.myAccount.container {
  padding: 0
}

.file_upload input[type=file] {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.myAccount i {
  margin-right: 10px;
}

.float_left {
  float: left;
}

.file_upload .button, .file_upload > mark {
  display: block;
  background: #f1f1f1;
  color: #555;
  cursor: pointer;
}

.ticketChooser select.form-control {
  height: 42px;
}

.myAccountList .hide_account_list {
  display: none !important;

}

.myAccountList:hover .hide_account_list {
  display: block !important;
}

.left_header_top > ul > li > a img {
  padding: 0 5px 4px 0;
}

.left_header_top > ul > li > a {
  padding-right: 0;
}

.top_photo {
  width: 20px;
  height: 20px;
  margin: auto 0px;
}

.marginTop {
  margin-top: -10px;
  height: 50px;
}

.block_buttons {
  margin-top: 25px;
}

.shipping_radio {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 0;
}

.shipping_radio:nth-of-type(1) {
  top: 0
}

.shipping_radio:nth-of-type(2) {
  top: 50px;
}

.shipping_radio:nth-of-type(3) {
  top: 100px;
}

.shipping_radio:checked + label {
  background: #666666;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.shipping_radio[data="0"] {
  cursor: not-allowed;
  display: none;

}

.btn_shippingmethod[data="0"] {
  opacity: 0.65;
  cursor: not-allowed;
}

.shipping_radio[data="1"] {
  cursor: pointer;
  display: block;

}

.btn_shippingmethod[data="1"] {
  opacity: 1;
  cursor: pointer;

}

.sub-total {
  width: 100%
}

.cart_price {
  float: left;
  width: 45%;
}

span.check-grandtot {
  color: black;
  display: inline;
  margin-right: 15px;
  font-size: 14px;
  width: 100%;
}

.right_header_top > ul > li > ul > li:last-child {
  text-align: center;
}

.right_header_top > ul > li > ul > li:last-child a {
  display: inline-block;
}

.GrandTotal {
  display: inline-block !important;
  color: #e32b75 !important;
}

.description {
  display: inline-block;
  font-size: 11px;
  text-align: center;
}

#collapseThree .right_block {
  float: none;
}

#collapseThree .shopping-cart-area {
  margin-bottom: 60px;
}

.row_relative {
  position: relative;
}

.row_relative .right_block {
  bottom: 0;
  position: absolute;
  right: 0;
}

.subtotal-grandtotal {
  margin-top: 0
}

.margin_class {
  margin: 10px;
}

.padding_class {
  padding-left: 15px;
}

.contact_submit {
  display: none;
  width: 0px;
  height: 0px;
}

.display_none {
  display: none;
}

.right_header_top .add_to_cart > img {
  border-radius: 5px;
  width: 50%;
  float: left;
  display: block;
}

.left_header_top > ul > li, .right_header_top > ul > li {
  padding-right: 5px;
}

.right_header_top .add_to_cart > p.dress_name {
  display: block;
  margin-top: 115px;
}

.right_header_top > ul > li > ul > li > i {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.right_header_top .add_to_cart {
  width: 100%;
}

.right_header_top > ul > li > ul > li {
  position: relative;
}

#back-to-top {
  webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  display: block;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  -moz-transition: -moz-transform 0.35s ease-in-out;
  -o-transition: -o-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  text-indent: 100%;
  white-space: nowrap;
  background: #000000;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

#back-to-top:before {
  width: 100%;
  height: 28px;
  margin-top: -14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  text-indent: 0;
  text-align: center;
  font: 28px/28px FontAwesome;
  content: "\f106";
}

#back-to-top.top--off {
  visibility: hidden;
  -webkit-transform: translate(0px, 80px);
  -moz-transform: translate(0px, 80px);
  -ms-transform: translate(0px, 80px);
  -o-transform: translate(0px, 80px);
  transform: translate(0px, 80px);
  -webkit-transition: visibility 0s, -webkit-transform 0.35s ease-in-out;
  -webkit-transition-delay: 0.35s, 0s;
  -moz-transition: visibility 0s 0.35s, -moz-transform 0.35s ease-in-out;
  -o-transition: visibility 0s 0.35s, -o-transform 0.35s ease-in-out;
  transition: visibility 0s 0.35s, transform 0.35s ease-in-out;
}

.product_icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100px;
  height: 100px;
  background: url(../images/offer.png) center center no-repeat;
  background-size: contain !important;
}

.template_class {
  margin-top: 10px;
  margin-bottom: 10px;
}

.template_class .h5 {
  display: block;
}

.template_class .location_form {
  margin-bottom: 15px
}

.delete_address i {
  margin-right: 0;
}

.delete_address {
  cursor: pointer;
}

.container.checkout {
  width: 100% !important;
  padding-right: 50px;
  padding-left: 50px;
}

.grand-total {
  width: 100%
}

.collapse.in {
  padding-right: 50px;
  padding-left: 50px;
  transition: all 0.5s ease;
}

.subtotal-grandtotal_l a {

  color: #ffffff;
}

.subtotal-grandtotal_l a:hover {
  color: #666666;
}

.checkout .shopping-cart-area .container {
  width: 98%;
  padding-right: 0;
  padding-left: 0;
}

.checkout .continue_li a {
  display: none;
}

.Subtotal {
  font-size: 12px;
  line-height: 2em;
  margin-right: 10px;
  font-style: italic;
  float: right;
}

.check-subtot {
  font-size: 12px;
  color: #333;
}

.checkout_continue_btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container.checkout .checkout_continue_btn, .shopping_class .continue_btn_2, #collapseThree .continue_btn_2, .shopping_class .text-alert, .shopping_class .select_check {
  display: none;
}

/*
#collapseThree .text-alert {
  height: 250px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 5;
  opacity: .75;
  display: block;
  bottom: 0;
  padding-top: 150px;
  font-size: 18px;
}*/
.breadcrumb_main_area > .overlay {
  background: linear-gradient(45deg, #002c82, #e32b75);

}

.yellow_button {
  background-color: #ffc900;
  border-color: #ffc900;
  transition: all 0.5s ease;
  color: black !important;
}

.blue_button {
  background-color: #002c82;
  border-color: #002c82;
  color: #ffffff !important;
}

.blue_button i {
  transition: all 0.5s ease;
  color: #ffffff
}

.yellow_button i {
  transition: all 0.5s ease;
  color: black
}

.yellow_button:hover {
  color: #ffffff !important;
}

.yellow_button:hover i {
  color: #ffffff !important;
}

.badge_widget li:hover {
  background: linear-gradient(45deg, #002c82, #e32b75);
  transition: all 0.5s ease;
}

.sub_widget.badge_widget li {
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.badge_widget li:hover a {
  color: #ffffff;
}

.social_icons a.add_cart_btn {
  padding: 10px 13px;
}

.shopping-cart-area table {
  margin-bottom: 10px;
}

.continue_btn {
  width: 258px;
}

.continue_btn_2 {
  width: 250px;
}

#collapseThree .continue_btn {
  display: none;
}

.btn_buy {
  width: 100%;
  margin-top: 10px
}

.btn_buy:hover {
  background-color: #666666;
}

.subtotal-grandtotal_r {
  width: 100%;
  float: right;
  position: absolute;
  bottom: 0;
  text-align: right;
}

.subtotal-grandtotal_l {
  float: right;
  padding-right: 0;
}

.info-checkout {
  padding-top: 0px
}

.logout {
  cursor: pointer
}

.shopping_content .shopping-cart-area .container {
  width: 95%;
  margin: 0 auto;
}

.myAccountList {
  min-width: 120px;
  text-align: center;
}

.myAccountList ul {
  text-align: left;
}

.add_cart_btn, .trash-table {
  cursor: pointer;
}

.text-danger {
  margin-top: 5px;
  font-weight: bold;
}

.error_autorize a {
  cursor: pointer;
}

.single_product_page h6 {
  float: left;
}

.add_to_wishlist_single {
  float: right;
}

.table-responsive {
  overflow: visible;
  margin-bottom: 0px;
}

#accordion .panel {
  transition: all 0.5s ease;
}

.file_upload.pull-left {
  position: relative;
}

.file_upload input[type=file] {
  width: 100%;
}

.search_li {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search_li:hover {
  background: none repeat scroll 0 0 #f2f2f2;
  padding-left: 10px;
}

.single_product_image img {
  border-radius: 5px;
  max-width: 90%;
  opacity: .9;
}

.text-alert {
  width: 250px;
  text-align: center;
  margin-bottom: 10px;
}

.panel-collapse.collapse.in .table-responsive {
  margin-top: 15px;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.col-lg-3.right_header_form {
  width: 50%
}

.right_header_top > ul > li:first-child .search-form .form-group {
  width: 65%;
}

.right_header_top > ul:hover > li:first-child .search-form .form-group {
  width: 100%
}

.right_header_top > ul > li > ul.search_cart_list {
  min-width: 202px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.clean_search {
  right: 20px !important;
  display: none !important;
  cursor: pointer !important;
}

.right_header_top > ul > li:first-child .search-form .form-group:hover .clean_search {
  display: block !important;
}

.right_header_top > ul > li > ul > li:first-child {
  padding-top: 20px
}

.myacc_birthday .datepicker, .myacc_birthday .datepicker input {
  width: 100% !important;
}

.quantity_input {
  width: 65px;
  margin: 0 auto;
  text-align: center;
}

.prod-table-img-c img {
  border-radius: 5px;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

/*modal-test*/
